# Python cache'ler takipten çıkarıldı.
__pycache__/
*.py[cod]

# Sanal ortam klasörleri çıkarıldı.
.venv/
env/
*.env

# Build klasörleri çıkarıldı.
build/
dist/
*.egg-info/

# IDE klasörlerinin çıkarılması için konuldu.
.idea/
.vscode/

# OS dosyaları için konuldu.
.DS_Store
Thumbs.db

# Gantt chart track'lenmesin diye eklendi.
*.png

# log dosyası track'lenmesin diye eklendi.
/logs
*.log

project_config/settings.py
# Burada işlem yaparken git status ile track'lenen dosyalar takip edilebilir. git add zaten warning oluşturuyor ayrıca.